@import "tailwindcss";

@theme {
  --color-primary: oklch(0.7 0.15 250);
  /* Add other theme variables here */
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

.animate-shake {
  animation: shake 0.5s cubic-bezier(.36, .07, .19, .97) both infinite;
}